.login {
  position: relative;
  height: auto;
  max-width: 500px;
  border: 1px solid #eee;
  background: #f3f7fb;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;

  height: 450px;
}

.login__header {
  text-align: center;
  padding: 35px;
  font-size: 22px;
  letter-spacing: 1.2px;
  background: #fff;
  margin: 0px;
}

.login form {
  height: 400px;
  padding: 25px;
  box-sizing: border-box;
}

.login button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  border: none;
  border: 2px solid #eee;
  margin-top: 10px;
}

.login button:focus {
  outline: none;
  background: #eee;
}

.login button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
