.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0px 25px;
}

.chat-header__name {
  font-size: 20px;
}

.chat-header__left {
  display: flex;
  align-items: center;
}

.chat-header__users,
.chat-header__messages,
.chat-header__time {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  justify-content: space-between;
}

.chat-header__users,
.chat-header__messages {
  margin-left: 35px;
}

.chat-header__users p,
.chat-header__messages p,
.chat-header__time p {
  margin: 0px;
}

.chat-header__users i,
.chat-header__messages i,
.chat-header__time i {
  font-size: 11px;
  margin-right: 10px;
}
