.users-header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
}

.users-header__item {
  text-align: center;
  width: 25%;
  height: 100%;
  margin: auto;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-header__item:last-child {
  border-right: none;
}
