.header {
  width: 100vw;
  background: #fff;
  height: 80px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 900px;
}

.header__container {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.header__logo {
  display: block;
  height: 40px;
  width: auto;
  padding-right: 25px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__logout {
  border: 1px solid #eee;
  height: 40px;
  width: 80px;
  background: #fff;
  border-radius: 5px;
}

.header__logout:hover {
  cursor: pointer;
  border: 2px solid #eee;
}

.header__avatar {
  display: block;
  height: 40px;
  width: 40x;
  border-radius: 50%;
  margin-left: 40px;
}

.header__links a {
  text-decoration: none;
  margin: 0px 25px;
  color: black;
  font-size: 17px;
  letter-spacing: 1.5;
}

.header__links a:hover {
  color: #42b0f8;
  cursor: pointer;
}
